body{background: url('../images/3560718_thumbnail.jpg') no-repeat; background-attachment: fixed; background-size: cover;
background-position: center;}
.wallet-box{background: #000; color: #fff;}
.well{background: purple; border:none; color: #fff;}
.well label{margin-bottom: 5px; margin-top: 5px;}
.well .btn{margin-top: 10px;}
.wallet-box h2, .wallet-box h4{padding-left: 20px;}
.wallet-box .box{background: purple; text-align: center; padding-top: 5px; padding-bottom: 5px;}
.wallet-box .table tr:hover{background: purple;}
.wallet-box .table a{color: #f20;}

@media only screen and (max-width: 500px)
{
	.wallet-box .box{margin-bottom: 5px;}
	.wallet-box .table{position: relative; z-index: 10;}
}